@import "./less-components/_reset.less";
@import "./less-components/_var.less";
@import "./less-components/_mixin.less";

html {
    height: 100%;
}

body {
    background-color: #f7f7f7;
}

.main {
    display: none;
}

#index {
    display: block;
}

.index-tab {
    display: none;
    margin-top: 84px;
}

.index-tab-1 {
    display: block;
}

.sub-bar {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 44px;
    z-index: 3;
    ul {
        display: flex;
        li {
            flex: 1;
            text-align: center;
            position: relative;
            a {
                display: block;
                font-size: 16px;
                color: #333;
                &:active {
                    background-color: #eee;
                }
            }
            &.active {
                font-weight: 700;
                a {
                    color: @base;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: @base;
                }
            }

        }
    }
}

.index-swiper {
    height: 200px;
    position: relative;
    .swiper-pagination {
        position: absolute;
        right: 0;
        bottom: 10px;
        text-align: right;
    }
    .swiper-slide {
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
}

.news-list {
    margin-bottom: 8px;
    header {
        background-color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        position: relative;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        &:after {
            content: '';
            position: absolute;
            left: 15px;
            top: 12px;
            bottom: 12px;
            display: block;
            width: 2px;
            background-color: @base;
        }
        span {
            font-weight: normal;
            font-size: 14px;
        }
    }
    .mui-media-body {
        height: 80px;
        font-size: 16px;
        white-space: normal;
    }
    li {
        position: relative;
        &.multiple-media {
            background-color: #fff;
            padding: 11px 15px;
            &:after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 15px;
                height: 1px;
                content: '';
                -webkit-transform: scaleY(.5);
                background-color: #c8c7cc;
            }
            .multiple-imgs {
                display: flex;
                height: 80px;
                min-height: 80px;
                overflow: hidden;
                div {
                    height: 80px;
                    overflow: hidden;
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    flex: 1;
                }
                div:nth-child(1) {
                    margin-right: 5px;
                }
                div:nth-child(2) {
                    margin: 0 2.5px;
                }
                div:nth-child(3) {
                    margin: 5px;
                }
            }
            p {
                .ell;
                font-size: 16px;
                color: #000;
                margin-top: 15px;
                margin-bottom: 0;
            }
            &:active {
                background-color: #eee;
            }
        }
    }
}

.top-news .mui-media-body:before{
    content: '置顶';
    border: 1px solid red;
    color: red;
    padding: 2px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 2;
    margin-right: 10px;
}

.ad {
    margin-bottom: 8px;
    background-color: #fff;
    padding: 10px;
    a {
        display: block;
        img {
            display: block;
        }
    }
}

.inner-ad {
    margin-top: 8px;
}

.clearfix {
    zoom:1;
    overflow: auto;
    &:before,&:after{
        content:"\0020";
        overflow:hidden;
        display:block;
        height:0;
    }
    &:after{
        clear:both;
    }
}

.video-list {
    background-color: #fff;
    ul {
        position: relative;
        padding: 11px 15px 0 15px;
        li {
            background-color: #fff;
            padding-right: 7.5px;
            float: left;
            width: 48%;
            &:nth-child(2n) {
                margin-left: 4%;
            }  
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background-color: #c8c7cc;
            -webkit-transform: scaleY(.5);
        }
    }
    .video-item {
        display: block;
        margin-bottom: 15px;
        img {
            min-height: 100px;
        }
        .video-thumb {
            width: 100%;
            height: 100px;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50%;
        }
        div {
            position: relative;
            margin-bottom: 10px;
            height: 118px;
            min-height: 118px;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50% 50%;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, .3);
                z-index: 1;
            }
            i {
                position: absolute;
                font-size: 80px;
                left: 50%;
                top: 50%;
                display: block;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                color: #fff;
                z-index: 2;
            }
        }
        p {
            font-size: 16px;
            color: #000;
            margin: 0;
            .line-clamp(2);
            max-height: 40px;
            overflow: hidden;
            &.mh {
                min-height: 40px;
            }
            &.desc {
                color: #666;
                font-size: 14px;
                min-height: 40px;
            }
        }
    }
}

.topic-list {
    .mui-media-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        h1 {
            font-size: 16px;
            font-weight: normal;
        }
        i {
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 40px;
            color: #ddd;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        p {
            line-height: 24px;
        }
    }
}

.have-header {
    margin-top: 44px;
}

.have-sub-header {
    margin-top: 84px;
}

.have-footer {
    padding-bottom: 50px;
}

.footer-tab {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 1px 6px #ccc;
    -moz-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
    display: flex;
    height: 50px;
    background-color: #fff;
    text-align: center;
    &:before {
        content: '';
        height: 1px;
        transform: scaleY(.5);
        background-color: #C8C7CC;
        left: 0;
        right: 0;
        top: 0;
    }
    a {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #333;
        font-size: 13px;
        i {
            display: inline-block;
            font-size: 22px;
            width: 100%;
            height: 30px;
            position: relative;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -45%);
                -webkit-transform: translate(-50%, -45%);
            }
        }
        &.active {
            color: @base;
            i {
                color: @base;
            }
        }
    }
}

.search {
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    input {
        margin: 0;
        flex: 1;
        font-size: 14px;
        height: 34px;
    }
    span {
        width: 60px;
        margin-left: 15px;
        text-align: center;
        color: #fff;
        background-color: @base;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        height: 34px;
        line-height: 34px;
        font-size: 14px;
    }
}

.news-sub-bar {
    position: fixed;
    left: 0;
    top: 44px;
    right: 0;
    z-index: 3;
}

.tab-content-width-fixed-sub-bar {
    margin-top: 84px;  
} 

.load-more {
    background-color: @base;
    margin: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    display: block;
    height: 44px;
    line-height: 44px;
    &:active {
        color: #fff;
    }
}

.news-detail {
    background-color: #fff;
    header {
        font-size: 18px;
        padding: 15px;
        position: relative;
        p {
            font-size: 14px;
            color: #999;
            margin-bottom: 0;
            margin-top: 6px;
            width: 100%;
        }
        .desc {
            font-size: 14px;
            color: #999;
            position: relative;
            margin: 10px;
            border: 1px solid #C8C7CC;
            padding: 10px;
            display: none;
            &.active {
                display: block;
            }
            &:before {
                content:'摘 要：'
            }
        }
    }
    article {
        padding: 15px;
        img {
            display: block;
            width: 100%;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin: 10px 0;
            color: #333;
        }
        video {
            width: 100%;
        }
        iframe {
            width: 100%!important;
        }
    }
    .like {
        transition: all .2s ease-in;
        padding: 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid rgb(234, 65, 60);
        color: rgb(234, 65, 60);
        text-align: center;
        margin: 0 auto;
        width: 40%;
        font-size: 14px;
        box-sizing: border-box;
        &.active {
            color: #fff;
            background-color: rgb(234, 65, 60);
            i {
                color: #fff;
            }
        }
        i {
            display: inline-block;
            font-size: 14px;
            margin-right: 5px;
        }
    }
    .share {
        width: 45%;
        margin: 40px auto 0;
        padding-bottom: 40px;
        .line {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                background-color: #C8C7CC;
                height: 1px;
                transform: translateY(.5);
            }
            &:after {
                content: '分享到';
                display: block;
                padding: 0 10px;
                background-color: #fff;
                color: #999;
                position: absolute;
                left: 50%;
                top: -10px;
                font-size: 14px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }
        }
        .share-item {
            padding-top: 40px;
            text-align: center;
            i {
                display: inline-block;
                margin: 0 10px;
                font-size: 50px;
                color: rgb(77, 209, 63);
            }
        }
    }
}

.comment-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    &:before {
        content: '';
        display: block;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #C8C7CC;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    }
    span {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        &:first-child {
            border-right: 1px solid #c8c7cc;
            i {
                font-size: 24px;
            }
        }
    }
    em {
        font-style: normal;
    }
    i {
        font-size: 30px;
        color: #333;
        position: relative;
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 40px;
        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
    }
}

.comment-list {
    background-color: #fff;
    margin-top: 8px;
    padding: 0 25px;
    header {
        font-size: 16px;
        position: relative;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
    }
    dl {
        dt {
            display: flex;
            color: #666;
            font-size: 16px;
            align-items: center;
            img {
                display: block;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                margin-right: 10px;
            }
            strong {
                flex: 1;
                font-weight: normal;
            }
            time {
                font-size: 14px;
            }
        }
        dd {
            font-size: 16px;
            color: #333;
            .line-clamp(2);
            margin-top: 10px;
        }
    }
    footer {
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        color: @base;
        text-align: center;
    }
}

.reply {
    background-color: #fff;
    padding: 15px;
    text-align: right;
    position: relative;
    textarea {
        background-color: #f1f1f1;
        border: none;
        font-size: 16px;
        height: 100px;
        margin-bottom: 10px;
    }
    a {
        background-color: #e9e9e9;
        padding: 8px 13px;
        color: #333;
        font-size: 16px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        &.active {
            background-color: @base;
            color: #fff;
        }
    }
    &:after {
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #C8C7CC;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    }
}

.comment-lists {
    margin: 0;
    padding-top: 20px;
    dl {
        position: relative;
        padding-bottom: 40px;
        padding-top: 20px;
        &:first-child {
            padding-top: 0;
        }
        &:last-child:after {
            height: 0;
        }
        &:after {
            content: '';
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #C8C7CC;
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
        }
        dt {
            span {
                position: absolute;
                right: 0;
                bottom: 10px;
                padding: 0 10px;
                border: 1px solid #eee;
                font-size: 14px;
                transition: all .3s ease-in;
                i {
                    font-size: 16px;
                }
                &.active {
                    background-color: @base;
                    border-color: @base;
                    color: #fff;
                    i {
                        color: #fff;
                    }
                }
            }
        }
        dd {
            .line-clamp(10);
        }
    }
    &>footer {
        i {
            margin-left: 10px;
        }
    }
}

.life {
    background-color: #fff;
    margin-bottom: 20px;
    header {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
    }
    .mui-row {
        border-top: 1px solid #eee;
        .item {
            display: flex;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            padding: 15px;
            align-items: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            float: left;
            width: 50%;
            &:nth-child(2n) {
                border-right: none;
            }
            img {
                display: block;
                width: 30%;
                height: 30%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            .info {
                margin-left: 10px;
                width: 70%;
                h1 {
                    color: #333;
                    font-weight: normal;
                    font-size: 18px;
                }
                p {
                    color: #999;
                    font-size: 14px;
                    .ell;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.newsGraphic-bar,
.newsGraphic-body {
    background-color: #000;
}

.news-graphic {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .swiper-container {
        height: 100%;
        .swiper-slide {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        background-color: rgba(0, 0, 0, .8);
        padding: 10px 10px 0;
        box-sizing: border-box;
        z-index: 2;
        h1 {
            color: #fff;
            font-size: 16px;
            .ell;
            width: 80%;
        }
        p {
            height: 80px;
            overflow-y: scroll;
            margin: 15px 0;
            font-size: 14px;
        }
        span {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            font-size: 14px;
            strong {
                font-size: 16px;
            }
        }
    }
}

.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
}

.newspaper-toolbar {
    .comment {
        background-color: #666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #999;
        flex: 1;
        display: flex;
        padding-left: 10px;
        align-items: center;
    }
    &>i {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 10px;
        color: #fff;
        font-size: 20px;
        position: relative;
        &.icon-pinglun1 {
            font-size: 26px;
        }
        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
    }
}

.full-iframe {
    position: fixed;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
    width: 100%;
    height: 100%;
}
//
//.paper {
//  .swiper-slide {
//      div {
//          display: flex;
//          align-items: flex-start;
//          justify-content: center;
//      }
//  }
//}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

#digitalNewspaper {
    .swiper-container {
        display: flex;
        align-items: center;
    }
//  .swiper-wrapper {
//      align-items: center;
//      height: 95%;
//      overflow: hidden;
//  }
    .swiper-slide {
        div {
            height: 100%;
        }
        img {
            height: 100%;
            max-width: 100%;
        }
    }
}

.digitalNewspaper-menu-popup {
    .content {
        padding-bottom: 44px;
        overflow-y: scroll;
        height: 100%;
        header {
            height: 40px;
            line-height: 40px;
            background-color: #f7f7f7;
            font-size: 16px;
            text-indent: 2em;
        }
        span {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            text-indent: 2em;
            color: @base;
            position: relative;
            display: block;
            .ell;
            &:last-child:after {
                height: 0;
            }
            &:after {
                content: '';
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                position: absolute;
                height: 1px;
                background-color: #C8C7CC;
                transform: scaleY(.5);
                -webkit-transform: scaleY(.5);
            }
        }
    }
}

.digitalNewspaper-detail-popup {
    .content {
        padding: 20px 20px 44px;
        overflow-y: scroll;
        height: 100%;
        h1, h3 {
            font-size: 16px;
            color: #999;
            font-weight: normal;
            text-align: center;
        }
        h2 {
            font-size: 24px;
            font-weight: 700;
            color: #000;
            text-align: center;
            padding: 20px 0;
        }
        h3 {
            position: relative;
            &:after {
                content: '';
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                position: absolute;
                height: 1px;
                background-color: #C8C7CC;
                transform: scaleY(.5);
                -webkit-transform: scaleY(.5);
            }
        }
        article {
            margin-top: 20px;
            font-size: 16px!important;
            font-weight: normal!important;
            line-height: 24px!important;
            color: #333!important;
            p {
                font-size: 16px!important;
                font-weight: normal!important;
                line-height: 24px!important;
                color: #333!important;
                margin-bottom: 0;
                margin-top: 10px;
            }
            img {
                width: 100%;
            }
        }
    }
}

.ucenter {
    ul{
        &:last-child {
            margin-top: 20px;
        }
        li {
            a {
                display: flex!important;
                flex-wrap: nowrap;
                align-items: center;
                font-size: 16px;
                i {
                    font-size: 20px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    &:before {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../imgs/uBg.jpg) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    height: 200px;
    .user-img {
        background-color: rgba(0, 0, 0, .6);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        position: relative;
        &:after {
            content: "\e63d";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            color: #fff;
            font-size: 35px;
            z-index: 1;
        }
        img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            position: relative;
            z-index: 2;
        }
    }
    p {
        color: #fff;
        font-size: 18px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

.u-bar {
    background-color: #f7f7f7;
    h1, a.mui-icon {
        color: #333;
    }
}

.user-form {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    .login-btn {
        background-color: rgb(158, 234, 106);
        margin: 20px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        display: block;
        height: 44px;
        line-height: 44px;
    }
    .label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        &:after {
            content: '';
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #C8C7CC;
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
        }
        i {
            display: block;
            width: 40px;
            height: 40px;
            font-size: 25px;
            color: #999;
            position: relative;
            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                   -webkit-transform: translate(-50%, -50%);
            }
        }
        input {
            background: none;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            margin: 0;
            height: 40px;
            line-height: 40px;
            padding: 30px 10px;
            font-size: 16px;
        }
        .getsms {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            color: #fff;
            background-color: @base;
            padding: 5px 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    .other-operate {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        .go-forget {
            color: #666;
        }
    }
}

.userinfo-list {
    background-color: #fff;
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        background-color: #c8c7cc;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        top: -1px;
    }
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        background-color: #c8c7cc;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        bottom: 0;
    }
    li {
        position: relative;
        overflow: hidden;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
        }
        span {
            color: #666;
        }
        img {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        &:after {
            position: absolute;
            left: 15px;
            right: 0;
            height: 1px;
            content: '';
            background-color: #c8c7cc;
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
            bottom: 0;
        }
    }
}

#interact .interact-list {
    margin-top: 84px;
}

.interact-list {
    .mu-flex {
        background-color: #fff;
        padding: 10px;
        display: flex;
        margin-bottom: 10px;
        .mu-card-avatar {
            width: 50px;
            height: 50px;
            display: block;
            margin-right: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .mu-card {
            flex: 1;
            .mu-card-header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50px;
                margin-bottom: 10px;
                position: relative;
                .mu-card-title {
                    font-size: 16px;
                    span {
                        margin-left: 10px;
                        font-size: 14px;
                        color: #999;
                    }
                }
                .mu-card-time {
                    font-size: 14px;
                    color: #999;
                }
                i {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 12px;
                    color: #999;
                }
            }
            .mu-card-text {
                font-size: 16px;
                line-height: 24px;
            }
            .mu-card-imgs {
                margin-top: 10px;
                &.mu-card-imgs-1 {
                    img {
                        max-height: 200px;
                        max-width: 100%;
                    }
                }
                ul {
                    display: flex;
                    li {
                        width: 33.3%;
                        padding: 0 5px;
                        div {
                            padding-bottom: 100%;
                            width: 100%;
                            height: 0;
                            -webkit-background-size: cover;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                }
            }
            .mu-footer {
                padding-top: 10px;
                display: flex;
                span {
                    flex: 1;
                    text-align: center;
                    align-items: center;
                    font-size: 14px;
                    color: #666;
                    &.active {
                        color: @base;
                        i {
                            color: @base;
                        }
                    }
                    i {
                        font-size: 20px;
                        display: inline-block;
                        &.icon-icon-test:before{
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}

.interact-graphic {
    header {
        background-color: rgba(0, 0, 0, 0);
    }
    background-color: #000;
    z-index: 11;
    #slider {
        height: 100%;
        .swiper-container {
            height: 100%;
            .swiper-wrapper {
                height: 100%;
                .swiper-slide {
                    height: 100%;
                }
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.release-text {
    width: 100%;
    border: none;
    background-color: #fff;
    height: 300px;
    font-size: 16px;
    display: block;
    margin-bottom: 0;
}

.release-imgs {
    padding: 10px;
    display: flex;
    img {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-right: 10px;
    }
    .add-img {
        border: 1px solid #999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
        position: relative;
        width: 100px;
        height: 100px;
        i {
            color: #999;
            font-size: 60px;
        }
        input {
            position: absolute;
            opacity: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;;
        }
    }
}

.cmt-list {
    position: relative;
    background-color: #fff;
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        background-color: #c8c7cc;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        top: 0;
    }
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        background-color: #c8c7cc;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        bottom: 0;
    }
    ul {
        li {
            padding: 15px;
            display: flex;
            position: relative;
            &:active {
                background-color: #eee;
            }
            &:after {
                position: absolute;
                left: 15px;
                right: 0;
                height: 1px;
                content: '';
                background-color: #c8c7cc;
                transform: scaleY(.5);
                -webkit-transform: scaleY(.5);
                bottom: 0;
            }
            img {
                width: 50px;
                height: 50px;
                display: block;
                margin-right: 10px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            .cmt-info {
                flex: 1;
                header {
                    display: flex;
                    justify-content: space-between;
                    h1 {
                        font-size: 16px;
                        color: #333;
                        font-weight: normal;
                    }
                    time {
                        font-size: 14px;
                        color: #999;
                    }
                }
                p {
                    font-size: 16px;
                    color: #333;
                    line-height: 24px;
                    margin: 0;
                }
            }
        }
    }
}

.comment-area {
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    z-index: 11;
    background-color: #eee;
    input {
        flex: 1;
        font-size: 14px;
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 0;
    }  
    a {
        margin-left: 15px;
        font-size: 14px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        width: 70px;
        text-align: center;
        background-color: #eee;
        border: 1px solid rgba(0,0,0,.2);   
        color: #333;  
        &.active {
            background-color: @base;
            color: #fff;
        }   
    }
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        content: '';
        background-color: #c8c7cc;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        top: 0;
    }
}

#zan,
#cmt {
    .cmt-list {
        h1 {
            color: @base;
            span {
                color: #333;
            }
        }
        p {
            .ell;
            width: 200px;
        }
    }
}

.tips {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 50px 0;
}

.boot {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    span {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        padding: 5px 10px;
        z-index: 2;
        font-size: 12px;
    }
}

#theme {
    background-color: #fff;
}

.theme-cover {
    display: block;
}

.theme-desc {
    position: relative;
    margin: 20px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333;
    padding: 20px;
    &:before {
        content: '简介：';
    }
}

.study-list {
    background-color: #fff;
    li {
        position: relative;
        padding: 15px;
        p {
            font-size: 16px;
            margin-bottom: 10px;
            color: #333;
        }
        div {
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 120px;
        }
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            content: '';
            background-color: #c8c7cc;
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
            bottom: 0;
        }
    }
}
