<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="plugins/jquery.min.js"></script>
		<script src="plugins/vue.min.js"></script>
		<script src="plugins/mui.min.js"></script>
		<link href="plugins/mui.min.css" rel="stylesheet" />
		<link href="plugins/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="plugins/iconfont.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">掌上普陀</h1>
			<a class="mui-icon iconfont icon-icon1460187848267 mui-pull-right go-search"></a>
		</header>

		<footer class="footer-tab">
			<a class="active go-index">
				<i class="iconfont icon-shouye"></i> 首页
			</a>
			<a class="go-news">
				<i class="iconfont icon-xinwen1"></i> 新闻
			</a>
			<a class="go-interact">
				<i class="iconfont icon-hudong"></i> 互动
			</a>
			<a class="go-ucenter">
				<i class="iconfont icon-wode"></i> 我的
			</a>
		</footer>

		<div id="index" class="have-footer main">
			<!-- 选项卡 -->
			<div class="sub-bar">
				<ul>
					<li @click="goHotNews" class="active go-hotnews">
						<a>新闻</a>
					</li>
					<li @click="goLive" class="go-live">
						<a>直播</a>
					</li>
					<li @click="goPaper">
						<a>报纸</a>
					</li>
					<li @click="goVod" class="go-vod">
						<a>视频</a>
					</li>
					<li @click="goLife" class="go-life">
						<a>服务</a>
					</li>
				</ul>
			</div>

			<div class="index-tab index-tab-1">
				<!-- 滚动图 -->
				<div class="swiper-container index-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="i in scrollNews" @click="gotoDetail(i)" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}">
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="mui-slider-text">
						<p v-text="activeSlideText"></p>
					</div>
				</div>
				<!--头条新闻-->
				<div class="hotnews news-list">
					<ul class="mui-table-view">
						<li v-for="i in headNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
							<div class="multiple-imgs mui-row" v-if="i.imgs.length >= 3" @click="goNewsGraphic(i)">
								<div class="mui-col-xs-4 mui-col-sm-4" v-for="item in i.imgs.slice(0,3)" :style="{backgroundImage: 'url(' + item + ')'}"></div>
							</div>
							<p v-text="i.title" v-if="i.imgs.length >= 3"></p>
						</li>
					</ul>
				</div>

				<div class="news-list">
					<header @click="goNews(0)">即时新闻</header>
					<ul class="mui-table-view">
						<!--置顶-->
						<li v-for="i in instantTopNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}" class="top-news">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
						</li>
						<!--非置顶-->
						<li v-for="i in instantNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
							<div class="multiple-imgs mui-row" v-if="i.imgs.length >= 3" @click="goNewsGraphic(i)">
								<div class="mui-col-xs-4 mui-col-sm-4" v-for="item in i.imgs.slice(0,3)" :style="{backgroundImage: 'url(' + item + ')'}"></div>
							</div>
							<p v-text="i.title" v-if="i.imgs.length >= 3"></p>
						</li>
					</ul>
				</div>

				<div class="ad" v-show="firstAd.ifValid==1">
					<a @click="gotoFirstAd"><img :src="firstAd.img" width="100%" /></a>
				</div>

				<div class="news-list">
					<header @click="goNews(1)">普陀新闻</header>
					<ul class="mui-table-view">
						<!--置顶-->
						<li v-for="i in putuoTopNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}" class="top-news">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
						</li>
						<!--非置顶-->
						<li v-for="i in putuoNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
							<div class="multiple-imgs mui-row" v-if="i.imgs.length >= 3" @click="goNewsGraphic(i)">
								<div class="mui-col-xs-4 mui-col-sm-4" v-for="item in i.imgs.slice(0,3)" :style="{backgroundImage: 'url(' + item + ')'}"></div>
							</div>
							<p v-text="i.title" v-if="i.imgs.length >= 3"></p>
						</li>
					</ul>
				</div>
				
				<div class="ad" v-show="secondAd.ifValid==1">
					<a @click="gotoSecondAd"><img :src="secondAd.img" width="100%" /></a>
				</div>

				<div class="video-list news-list">
					<header @click="goNews(2)">视频新闻</header>
					<ul class="clearfix">
						<li v-for="i in videoNews.slice(0,4)">
							<a class="video-item" @click="gotoDetail(i)">
								<div :style="'background-image:url('+ i.imgs[0] +')'">
									<i class="iconfont icon-shipin"></i>
								</div>
								<p v-text="i.title"></p>
							</a>
						</li>
					</ul>
				</div>

				<div class="news-list topic-list">
					<header @click="goTopic">专题节目</header>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media" v-for="i in topicNews">
							<a @click="gotoTopicList(i)">
								<img class="mui-media-object mui-pull-left" :src="i.img">
								<div class="mui-media-body">
									<h1 v-text="i.name"></h1>
									<p v-text="i.brief"></p>
									<p v-text="i.brief2"></p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="index-tab index-tab-2">
				<iframe :src="zhiboUrl" frameborder="0" width="100%" :height="frameHeight"></iframe>
			</div>

			<div id="life" class="have-sub-header index-tab index-tab-3">
				<div class="life" v-for="i in services">
					<header v-text="i.title"></header>
					<div class="mui-row clearfix">
						<div class="item" v-for="s in i.service" @click="gotoService(s)">
							<img :src="s.img" />
							<div class="info">
								<h1 v-text="s.name"></h1>
								<p v-text="s.brief"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--顶部tab视频-->
			<div id="video" class="have-sub-header index-tab index-tab-4">
				<!--<div class="video-list news-list">
					<ul class="clearfix">
						<li v-for="i in videoNews" @click="gotoDetail(i)">
							<a class="video-item">
								<img :src="i.img" width="100%" />
								<p v-text="i.title"></p>
							</a>
						</li>
					</ul>
				</div>
				<a class="load-more" @click="getVideoNews" v-show="bHaveMore_headvideo">点击加载更多</a>-->
				<div class="news-list topic-list">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media" v-for="i in topicNews" @click="gotoTopicList(i)">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" :src="i.img">
								<div class="mui-media-body">
									<h1 v-text="i.name"></h1>
									<p v-text="i.brief"></p>
									<p v-text="i.brief2"></p>
									<i class="iconfont icon-shipin"></i>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div id="news" class="have-footer main">
			<!-- 选项卡 -->
			<div class="sub-bar news-sub-bar">
				<ul>
					<li v-for="s, i in newsSorts" :class="{ 'active' : activeSort == i }" @click="changeSort(i)">
						<a v-text="s"></a>
					</li>
				</ul>
			</div>

			<div class="tab-content tab-content-width-fixed-sub-bar" v-show="activeSort == 0">
				<div class="news-list">
					<ul class="mui-table-view">
						<!--置顶-->
						<li v-for="i in instantTopNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}" class="top-news">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
						</li>
						<!--非置顶-->
						<li v-for="i in instantNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
							<div class="multiple-imgs mui-row" v-if="i.imgs.length >= 3" @click="goNewsGraphic(i)">
								<div class="mui-col-xs-4 mui-col-sm-4" v-for="item in i.imgs.slice(0,3)" :style="{backgroundImage: 'url(' + item + ')'}"></div>
							</div>
							<p v-text="i.title" v-if="i.imgs.length >= 3"></p>
						</li>
					</ul>
				</div>
				<a class="load-more" @click="getInstantNews()" v-show="bHaveMore_instant">点击加载更多</a>
			</div>

			<div class="tab-content tab-content-width-fixed-sub-bar" v-show="activeSort == 1">
				<div class="news-list">
					<ul class="mui-table-view">
						<!--置顶-->
						<li v-for="i in putuoTopNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}" class="top-news">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
						</li>
						<!--非置顶-->
						<li v-for="i in putuoNews" :class="{'multiple-media mui-content' : i.imgs.length >= 3, 'mui-table-view-cell mui-media' : i.imgs.length <= 1}">
							<a @click="gotoDetail(i)" v-if="i.imgs.length <= 1">
								<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.imgs[0] +')'}"></div>
								<div class="mui-media-body" v-text="i.title"></div>
							</a>
							<div class="multiple-imgs mui-row" v-if="i.imgs.length >= 3" @click="goNewsGraphic(i)">
								<div class="mui-col-xs-4 mui-col-sm-4" v-for="item in i.imgs.slice(0,3)" :style="{backgroundImage: 'url(' + item + ')'}"></div>
							</div>
							<p v-text="i.title" v-if="i.imgs.length >= 3"></p>
						</li>
					</ul>
				</div>
				
				<a class="load-more" @click="getPutuoNews()" v-show="bHaveMore_putuo">点击加载更多</a>
			</div>
			<!--新闻tab 视频新闻-->
			<div class="tab-content tab-content-width-fixed-sub-bar" v-show="activeSort == 2">
				<div class="video-list news-list">
					<ul class="clearfix">
						<li v-for="i in videoNews" @click="gotoDetail(i)">
							<a class="video-item">
								<div :style="'background-image:url('+i.imgs[0]+')'">
									<i class="iconfont icon-shipin"></i>
								</div>
								<p v-text="i.title"></p>
							</a>							
						</li>
						
					</ul>
				</div>
				<a class="load-more" @click="getVideoNews" v-show="bHaveMore_video">点击加载更多</a>
			</div>
		</div>

		<div id="ucenter" class="have-footer have-header main ucenter">
			<div class="user" @click="goLogin">
				<div class="user-img iconfont">
					<img :src="userInfo.img" v-show="isLogin" v-if="userInfo != null"/>
				</div>
				<p v-text="isLogin ? userInfo.name : '登录/注册'"></p>
			</div>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell" @click="goZan">
					<a class="mui-navigate-right">
						<i class="iconfont icon-zan"></i>收到的赞
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goCmt">
					<a class="mui-navigate-right">
						<i class="iconfont icon-icon-test"></i>收到的消息
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goMyInteract">
					<a class="mui-navigate-right">
						<i class="iconfont icon-hudong"></i>我的互动
					</a>
				</li>
			</ul>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell" @click="goSuggest">
					<a class="mui-navigate-right">
						<i class="iconfont icon-yijianfankui"></i>意见反馈
					</a>
				</li>
				<li class="mui-table-view-cell" v-show="isLogin" @click="logout">
					<a class="mui-navigate-right">
						<i class="iconfont icon-fill108"></i>退出登录
					</a>
				</li>
				<li class="mui-table-view-cell" @click="clearCache" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-Clear"></i>清除缓存
					</a>
				</li>
				<li class="mui-table-view-cell" @click="checkNewVersion" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shengji"></i>检查新版本
					</a>
					<span class="mui-badge mui-badge-danger" v-show="isNew">NEW</span>
				</li>
			</ul>
		</div>
	</body>

</html>
<script src="js/global.js"></script>
<script src="plugins/swiper.min.js"></script>
<script src="js/a_ref.js"></script>
<script src="js/index.js"></script>