<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<script src="../plugins/mui.picker.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link href="../plugins/mui.picker.min.css" rel="stylesheet" />
		<link href="../plugins/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">报纸</h1>
		</header>
		
		<footer class="footer-tab" id="tab">
			<a class="active" style="justify-content: center;">
				<p style="margin: 0;" v-text="week"></p>
				<p style="margin: 0;" v-text="date"></p>
			</a>
			<a @click="morePage">
				<i class="iconfont icon-mulu" style="font-size: 16px;"></i> {{ pageTitle }}
			</a>
			<a @click="openMenu">
				<i class="iconfont icon-mulu1"></i> 目录
			</a>
			<a class="date-btn" @click="chooseDate">
				<i class="iconfont icon-wangqihuigu"></i> 往期
			</a>
		</footer>

		<div id="digitalNewspaper" class="news-graphic have-header have-footer">
			<div class="swiper-container paper">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-html="Pic_one">
					</div>
					<div class="swiper-slide" v-html="Pic_two">
					</div>
					<div class="swiper-slide" v-html="Pic_three">
					</div>
					<div class="swiper-slide" v-html="Pic_four">
					</div>
				</div>
			</div>
		</div>
		
		<div class="popup digitalNewspaper-menu-popup" v-show="show">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="closeMenu"></a>
				<h1 class="mui-title">目录</h1>
			</header>
			<dl class="have-header">
				<dt v-text="Catalog_class0"></dt>
				<dd>
					<ul>
						<li v-for="Catalog_item0 in Catalog_items0" v-text="Catalog_item0.title" @click="openDetail(Catalog_item0)"></li>
					</ul>
				</dd>
				<dt v-text="Catalog_class1"></dt>
				<dd>
					<ul>
						<li v-for="Catalog_item1 in Catalog_items1" v-text="Catalog_item1.title" @click="openDetail(Catalog_item1)"></li>
					</ul>
				</dd>
				<dt v-text="Catalog_class2"></dt>
				<dd>
					<ul>
						<li v-for="Catalog_item2 in Catalog_items2" v-text="Catalog_item2.title" @click="openDetail(Catalog_item2)"></li>
					</ul>
				</dd>
				<dt v-text="Catalog_class3"></dt>
				<dd>
					<ul>
						<li v-for="Catalog_item3 in Catalog_items3" v-text="Catalog_item3.title" @click="openDetail(Catalog_item3)"></li>
					</ul>
				</dd>
				
			</dl>
		</div>
		
		<div class="popup digitalNewspaper-detail-popup" v-show="show">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="closeDetail"></a>
				<h1 class="mui-title" v-text="article_class"></h1>
			</header>
			<div class="content have-header">
				<h1 v-text="article_begintitle"></h1>
				<h2 v-text="article_title"></h2>
				<article v-html="article_message"></article>
			<div>
		</div>
	</body>

</html>
<script src="../js/a_ref.js"></script>
<script src="../plugins/swiper.min.js"></script>
<script src="../js/global.js"></script>
<script src="../js/digitalNewspaper.js"></script>