<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav" id="frameTitle">
			<a class="mui-icon mui-icon-left-nav mui-pull-left back"></a>
		    <h1 class="mui-title"></h1>
		</header>
		
		<div id="iframe" class="have-header" style="-webkit-overflow-scrolling:touch;overflow: auto;">
			<iframe src="" class="full-iframe" frameborder="0"></iframe>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/iframe.js"></script>
