<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link href="../plugins/swiper.min.css" rel="stylesheet" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">互动交流</h1>
			<a class="mui-icon iconfont icon-xiangji mui-pull-right"></a>
		</header>
		
		<div id="interact">
			<div class="sub-bar">
				<ul>
					<li @click="goLatest" class="latest" :class="currentIndex == 0 ? 'active' : ''"><a>最新</a></li>
					<li @click="goRebellion" class="rebellion" :class="currentIndex == 1 ? 'active' : ''"><a>报料</a></li>
					<li @click="goPhotography" class="photography" :class="currentIndex == 2 ? 'active' : ''"><a>摄影</a></li>
					<li @click="goFood" class="food" :class="currentIndex == 3 ? 'active' : ''"><a>美食</a></li>
				</ul>
			</div>
			<!--最新-->
			<div class="interact-list">
				<div class="mu-flex" v-for="i in interact_current" @click="openInteractDetail(i)">
					<img :src="i.userImg" class="mu-card-avatar"/>
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title" v-text="i.name"></div>
							<div class="mu-card-time" v-text="i.logtime"></div>
						</div>
						<div class="mu-card-text" v-text="i.content"></div>
						<!-- 1 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-1" v-if="i.imgs.length==1">
							<img :src="i.imgs[0]" @click.stop="openGallery(i.imgs, 0)"/>
						</div>
						<!-- 2 张图时使用 -->
						<div class="mu-card-imgs" v-else="i.imgs.length>1" >
							<ul>
								<li v-for="m, index in i.imgs">
									<div :style="'background-image:url('+ m +')'" @click.stop="openGallery(i.imgs, index)"></div>
								</li>
							</ul>
						</div>
						<div class="mu-footer" v-cloak>
							<span :class="{ active : i.like }" @click.stop="clickZan(i)"><i class="iconfont icon-zan"></i> {{i.zan}}</span>
							<span><i class="iconfont icon-icon-test"></i> {{i.commentNum}}</span>
							<span @click.stop="shareSystem"><i class="iconfont icon-fenxiang"></i></span>
						</div>
					</div>
				</div>
			</div>
			<a class="load-more" @click="getCurrent" v-show="bHaveMore_current && interact_current.length != 0">点击加载更多</a>
		</div>
		
		<div id="interactGraphic" class="news-graphic interact-graphic" v-show="show" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="close"></a>
			</header>
			<div id="slider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"  v-for="i in imgs">
							<img :src="i" width="100%"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../plugins/swiper.min.js"></script>
<script src="../js/a_ref.js"></script>
<script src="../js/interact.js"></script>