<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link href="../plugins/swiper.min.css" rel="stylesheet" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">互动详情</h1>
		</header>
		
		<div id="interactDetail" class="have-header have-footer">
			<div class="comment-area">
				<input type="text" :placeholder="placeholder" v-model="comment"/>
				<a :class="{ active : haveComment }" @click="diliver()">发送</a>
			</div>
			
			<div class="interact-list">
				<div class="mu-flex">
					<img :src="interactDetail.userImg" class="mu-card-avatar"/>
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title" v-text="interactDetail.name"></div>
							<div class="mu-card-time" v-text="interactDetail.logtime"></div>
						</div>
						<div class="mu-card-text" v-text="interactDetail.content"></div>
						<!-- 1 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-1" v-if="interactDetail.imgs.length==1">
							<img :src="interactDetail.imgs[0]" @click.stop="openGallery(interactDetail.imgs, 0)"/>
						</div>
						<!-- 2 张图时使用 -->
						<div class="mu-card-imgs" v-else="interactDetail.imgs.length>1">
							<ul>
								<li v-for="i, index in interactDetail.imgs">
									<div :style="'background-image:url('+ i +')'" @click.stop="openGallery(interactDetail.imgs, index)"></div>
								</li>
							</ul>
						</div>
						<div class="mu-footer" v-cloak>
							<span :class="{ active : like }"><i class="iconfont icon-zan" @click="clickZan"></i> {{zan}}</span>
							<span><i class="iconfont icon-icon-test"></i> {{comments.length}}</span>
							<span @click="shareSystem('WXSceneSession')"><i class="iconfont icon-fenxiang"></i></span>
						</div>
					</div>
				</div>
				
				<div class="cmt-list" v-show="comments.length != 0">
					<ul>
						<li v-for="i in comments">
							<img :src="i.userImg" class="mu-card-avatar"/>
							<div class="cmt-info">
								<header>
									<h1 v-text="i.name"></h1>
									<time v-text="i.logtime"></time>
								</header>
								<p v-text="i.content"></p>
							</div>
						</li>
					</ul>
				</div>
				
				<a class="load-more" @click="getMoreComments" v-show="bHaveMore_comment">更多评论</a>
			</div>
		</div>
		
		<div id="interactGraphic" class="news-graphic interact-graphic" v-show="show" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="close"></a>
			</header>
			<div id="slider">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"  v-for="i in imgs">
							<img :src="i" width="100%"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../plugins/swiper.min.js"></script>
<script src="../js/a_ref.js"></script>
<script src="../js/interactDetail.js"></script>