<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">互动交流</h1>
			<a class="mui-icon iconfont icon-xiangji mui-pull-right"></a>
		</header>
		
		<div id="interact">
			<div class="sub-bar">
				<ul>
					<li class="active"><a>最新</a></li>
					<li><a>报料</a></li>
					<li><a>摄影</a></li>
					<li><a>美食</a></li>
				</ul>
			</div>
			
			<div class="interact-list">
				<div class="mu-flex">
					<img src="http://placehold.it/60x60" class="mu-card-avatar"/>
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title"> 芒果橙</div>
							<div class="mu-card-time">34秒前</div>
						</div>
						<div class="mu-card-text">测试内容测试内容测试内容测试内容测试内容测试内容</div>
						<!-- 1 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-1">
							<img src="http://placehold.it/200x200"/>
						</div>
						<!-- 2 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-2">
							<div style="background:url('http://placehold.it/200x200')"></div>
							<div style="background:url('http://placehold.it/200x200')"></div>
						</div>
						<!-- 3 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-3">
							<ul>
								<li>
									<div style="background:url('http://placehold.it/200x200')"></div>
								</li>
								<li>
									<div style="background:url('http://placehold.it/200x200')"></div>
								</li>
								<li>
									<div style="background:url('http://placehold.it/200x200')"></div>
								</li>
							</ul>
						</div>
						<!-- 4 张图时使用 -->
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/interact.js"></script>