<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">我的互动</h1>
		</header>
		
		<div id="myInteract" class="have-header">
			<div class="interact-list">
				<div class="mu-flex" v-for="i in interacts" @click="openInteractDetail(i)">
					<img :src="i.userImg" class="mu-card-avatar" />
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title" v-text="i.name"></div>
							<div class="mu-card-time" v-text="i.logtime"></div>
						</div>
						<div class="mu-card-text" v-text="i.content"></div>
						<!-- 1 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-1" v-if="i.imgs.length==1">
							<img :src="i.imgs[0]" />
						</div>
						<!-- 2 张图时使用 -->
						<div class="mu-card-imgs" v-else="i.imgs.length>1">
							<ul>
								<li v-for="m, index in i.imgs">
									<div :style="'background-image:url('+ m +')'"></div>
								</li>
				
							</ul>
						</div>
						<div class="mu-footer">
							<span><i class="iconfont icon-zan"></i> {{ i.zan}}</span>
							<span><i class="iconfont icon-icon-test"></i> {{ i.commentNum}}</span>
							<span><i class="iconfont icon-fenxiang"></i></span>
						</div>
					</div>
				</div>
				
				<a class="load-more" @click="getMyInteract" v-show="bHaveMore">点击加载更多</a>
			</div>
		
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/a_ref.js"></script>
<script src="../js/myInteract.js"></script>