<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">我的互动</h1>
		</header>
		
		<div id="myInteract" class="have-header">
			<div class="interact-list">
				<div class="mu-flex">
					<img src="http://placehold.it/60x60" class="mu-card-avatar"/>
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title"> 芒果橙</div>
							<div class="mu-card-time">34秒前</div>
						</div>
						<div class="mu-card-text">测试内容测试内容测试内容测试内容测试内容测试内容</div>
						<!-- 1 张图时使用 -->
						<div class="mu-card-imgs mu-card-imgs-1">
							<img src="http://placehold.it/200x200"/>
						</div>
						<!-- 2 张图时使用 -->
						<div class="mu-card-imgs">
							<ul>
								<li>
									<div style="background-image:url('https://placeimg.com/200/200')"></div>
								</li>
								<li>
									<div style="background-image:url('https://placeimg.com/144/332')"></div>
								</li>
							</ul>
						</div>
						<div class="mu-footer">
							<span><i class="iconfont icon-zan"></i> 3</span>
							<span><i class="iconfont icon-icon-test"></i> 5</span>
							<span><i class="iconfont icon-fenxiang"></i></span>
						</div>
					</div>
				</div>
				
				<div class="mu-flex">
					<img src="http://placehold.it/60x60" class="mu-card-avatar"/>
					<div class="mu-card">
						<div class="mu-card-header">
							<div class="mu-card-title"> 芒果橙</div>
							<div class="mu-card-time">34秒前</div>
						</div>
						<div class="mu-card-text">测试内容测试内容测试内容测试内容测试内容测试内容</div>
						<!-- 3 张图时使用 -->
						<div class="mu-card-imgs">
							<ul>
								<li @click="openGallery">
									<div style="background-image:url('https://placeimg.com/200/200')"></div>
								</li>
								<li>
									<div style="background-image:url('https://placeimg.com/144/332')"></div>
								</li>
								<li>
									<div style="background-image:url('https://placeimg.com/444/132')"></div>
								</li>
							</ul>
						</div>
						<div class="mu-footer">
							<span class="active"><i class="iconfont icon-zan"></i> 3</span>
							<span><i class="iconfont icon-icon-test"></i> 5</span>
							<span><i class="iconfont icon-fenxiang"></i></span>
						</div>
					</div>
				</div>
				<a class="load-more">点击加载更多</a>
			</div>
		
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/myInteract.js"></script>