<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header id="header" class="mui-bar mui-bar-nav">
			<button class="mui-action-back mui-btn mui-btn-link mui-pull-left">取消</button>
			<h1 class="mui-title">互动</h1>
			<button class="mui-btn mui-btn-link mui-pull-right" @click="diliver">发布</button>
		</header>

		<div id="release" class="have-header">
			<textarea class="release-text" placeholder="发表你的动态..." v-model="content" maxlength="200"></textarea>
			<div class="release-imgs">
				<img v-for="i in imgs" :src="i" @click="removeImg" width='100px' height="100px">
				<div class="add-img" v-show="showAdd">
					<i class="iconfont icon-iconfont7"></i>
					<input id="rcpic" type="file" accept="image/*" multiple="multiple" capture="camera" @change="addImg($event)"/>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/a_ref.js"></script>
<script src="../js/release.js"></script>