<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">搜索文章</h1>
		</header>
		
		<div id="search" class="have-footer have-header">
			<div class="search"><input type="text" placeholder="请输入您想要搜索的关键词" v-model="keyWord"/><span @click="search">搜索</span></div>
			<div class="news-list" v-show="searchResult.length > 0" v-cloak>
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell mui-media" v-for="i in searchResult">
				        <a @click="gotoDetail(i)">
				            <img class="mui-media-object mui-pull-left" :src="i.img">
				            <div class="mui-media-body" v-text="i.title"></div>
				        </a>
				    </li>
				</ul>
			</div>
		</div>
	</body>

</html>
<script src="../js/a_ref.js"></script>
<script src="../js/global.js"></script>
<script src="../js/search.js"></script>