<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../plugins/mui.min.js"></script>
		<link href="../plugins/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../plugins/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script src="../plugins/jquery.min.js"></script>
		<script src="../plugins/vue.min.js"></script>
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">基本资料</h1>
		    <button class="mui-btn mui-btn-link mui-pull-right">保存</button>
		</header>
		
		<div id="userInfo" class="have-header">
			<ul class="userinfo-list">
				<li @click="changeAvatar"><label>头像</label><span><img :src="userInfo.img" alt="" /></span></li>
				<li @click="changeName"><label>用户名</label><span v-text="userInfo.name"></span></li>
				<li><label>手机号</label><span v-text="userInfo.phone"></span></li>
				<!--<li @click="changeSex"><label>性别</label><span v-text="sex"></span></li>-->
			</ul>
		</div>
	</body>

</html>
<script src="../js/global.js"></script>
<script src="../js/a_ref.js"></script>
<script src="../js/userInfo.js"></script>
